body{
    background-color: #031e46;
    background-image: url(./img-back.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 20vh;
  }

  .input-text1 {
    width: 80vw; 
  padding: 10px;
  color: #000;
  border-radius: 12px;
  align-items: center;
  }

  main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    
  .card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
    margin: 3rem 5rem;
  }

  .card{
    width: 12.5rem;
    height: 17.900rem;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
  }

  .card:hover{
    scale: 1.2;
    transition: 0.5s;
  }