*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  background-color: #031e46;
  background-image: url(./img-back.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  display: grid;
  place-items: center;
  width: 100vw;
  height: 20vh;
}

main{
  justify-content: space-evenly;
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

.input-text1 { 
  width: 30%; 
  padding: 15px;
  border: 1px solid #0e1352;
  background-color: #031E46;
  color: #ffffff;
  border-radius: 12px;
}

.input-text1::placeholder{
  color: #ffffff;
  font-size: 15px;
}

.buttons{
  display: grid;
  place-items: center;
  gap: 42px;
  width: 100vw;
}

.botao{
  border-radius: 12px;
  width: 20%;
  height: 60px;
  background-color: #04407F;
  color: #ffffff;
}

.botao2{
  border-radius: 12px;
  width: 15%;
  height: 60px;
  background-color: #031E46;
}

.criar-conta{
  color: #ffffff;
}
